/* components/NewsCard.module.css */
.news-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    max-width: 400px;
    max-height: 200px;
  }
  .upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .news-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 5 lines */
    -webkit-box-orient: vertical;
  }
  .news-image {
    width: 100px;
    height: 50px;
    object-fit: cover;
  }
  
  .news-content {
    padding: 20px;
  }
  
  .news-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 5 lines */
    -webkit-box-orient: vertical;
  }
  
  .news-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .posted-at {
    font-size: 0.8rem;
    color: #888;
  }
  

  @media screen and (max-width: 576px) {

    .news-content {
      padding: 0.8rem;
    }
    .news-card{
      margin: 0;
    }
    .news-title{
      font-size: 1.2rem;
    }
    .news-description{
      font-size: 1rem;
    }

  }
  
  @media screen and (min-width: 576px) and (max-width: 768px) {
  
  
  
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
  
  
  
  }
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
  
  
  
  }
  
  @media screen and (min-width: 1200px) {
  
  
  
  }
  
  