  /* components/NewsContainer.module.css */
  .news-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    
  }
  .grid-container{
    display: flex;
    justify-content: center;
    /* height: 96vh; */
  }
  .center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    /* padding-bottom: 2rem; */
    
  }

  .not-found {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .image{
  
  }
  @media screen and (max-width: 768px) {
    /* Adjust for smaller screens */

    .center{
      grid-template-columns: 1fr;
    }
    .news-container{
    
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .next{
      display: none;
    }
    .prev{
      display: none;
    }
    .grid-container{
      padding-bottom: 2rem;
    }
  
  }

  @media screen and (max-width: 576px) {

    /* Styles for phones (portrait mode) */
   
   }
   
   @media screen and (min-width: 576px) and (max-width: 768px) {
   
    /* Styles for tablets and larger phones (landscape mode) */
   
   }
   
   @media screen and (min-width: 768px) and (max-width: 992px) {
   
    /* Styles for smaller laptops, larger tablets in landscape */
   
   }
   
   @media screen and (min-width: 992px) and (max-width: 1200px) {
   
    /* Styles for larger desktop screens and some laptops */
   
   }
   
   @media screen and (min-width: 1200px) {
   
    /* Styles for extra-large screens and high-resolution displays */
    .main{
      color: black;
    }
    .center{
      gap: 0.9rem;
      margin-bottom: 2rem;
    }
   
   }
   
   